@import url('../variables.css');
@import url('../fonts.css');
@import url('../globals.css');
@import url('../animation.css');

.login {
  font-family: var(--big-font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: black;
  block-size: 100vh;
  z-index: 0;
}

.section__form {
  color: var(--login-font-color);
  z-index: 5;
  display: flex;
  background: black;
  opacity: 0.8;
  align-items: center;
  justify-content: center;
  border-radius: 40px; 
  min-block-size: var(--login-block-size);
  inline-size:  var(--login-inline-size);
  animation: appearanceForm 0.8s ease-in-out;
}

.login__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  flex-grow: 1;
}

.login__block_info {
  opacity: 1;
  display: block;
}

.login__block_header {
  font-size: var(--login-header-font-size);
  text-align: center;
}

.login__user-password {
  font-size: var(--login-info-font-size);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.login__user-password p {
  display: flex;
  flex-direction: column;
}

.login__background {
  position: absolute;
  top: 0;
  inline-size: 100%;
  filter: blur(0.2rem) sepia(20%);
}

.login__block input {
  block-size: 35px;
  width: var(--login-input-inline-size);
  border-radius: 15px;
  background-color: var(--login-input-background);
  color: var(--login-input-font-color);
}

.login__block-submit {
  align-self: center;
  min-inline-size: 90%;
  block-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: var(--login-info-font-size);
  background-color: var(--login-submit-background);
  transition: background-color 0.3s ease-in-out, color 0.6s ease-in-out;
}

.login__block-submit input {
  inline-size: 100%;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.login__block-submit:hover {
  background-color: rgb(97, 0, 0);
}

.login__block-submit:hover input {
  color: var(--login-font-color);
}

.login__block-info_error {
  font-size: 14px;
  color: var(--login-error-font-color);
}

.errorlist {
  color: var(--login-error-font-color);
}

.login__link {
  text-decoration: none;
}

.login__link_light {
  color: var(--login-link-color-light)
}

.login__link_dark {
  color: var(--login-link-color-dark);
}