{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static './css/login/login.css' %}">
  </head>
  <body>
    <main class="main login">
      <img class = "login__background">
      <section class = "section section__form">
        {% block content %}
          <div class = "form login__block" >
            <h1 class = "login__block_info login__block_header">Войдите в аккаунт</h1>
              <p class = "login__block_info login__block_description">Пожалуйста, введите данные вашего аккаунта</p>
                <form action="{% url 'login' %}" method="post" class="login__user-password">
                  {{ form.as_p }}
                  {% csrf_token %}
                  <input type="hidden" name="next" value="{ { next } }" />
                <p class="login__block-submit"><input class="login__input-submit" type="submit" value="Войти"></p>
                </form>
          </div>
        {% endblock %}
      </section>
    </main>
  </body>
  <script src="{% static './js/login/login.js' %}"></script>
</html>